header {
background: #0b3d6d;
color: white;
text-align: center;
padding: 20px;
}

nav {
margin-top: 10px;
}

.values{
  float=left;
  width = 30%;
}

.hero {
height: 250px;
display: flex;
justify-content: center;
align-items: center;
}

.about {
display: flex;
padding: 40px;
gap: 30px;
}

.contact {
display: flex;
padding: 40px;
gap: 30px;
}

footer {
background: #0b3d6d;
color: white;
text-align: center;
padding: 20px;
}
