* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

header {
background: #0b3d6d;
color: white;
text-align: center;
padding: 20px;
}

nav {
margin-top: 10px;
}

nav a {
color: white;
margin: 0 10px;
text-decoration: none;
font-size: 14px;
}

.values{
  float=left;
  width = 30%;
}


.hero {
background: url("https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg") no-repeatcenter/cover;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
}

.hero h2 {
color: white;
font-size: 40px;
background: rgba(0,0,0,0.5);
padding: 10px 20px;
}




.about {
display: flex;
padding: 40px;
gap: 30px;
}

.about img {
width: 50%;
border-radius: 8px;
}

.about div {
width: 50%;
}

.contact {
display: flex;
padding: 40px;
gap: 30px;
}

.contact img {
width: 50%;
border-radius: 8px;
}

.contact div {
width: 50%;
}

footer {
background: #0b3d6d;
color: white;
text-align: center;
padding: 20px;
}

